{% extends "layout.html" %}
{% block body %}
<!--header and nav -->
<style>
.area{
	clip-path: url(#clip);
}
</style>
<div id="visualisation">
	<div class="row">
		<div class="large-12 columns">
			<ul class="pagination right">
				<li><a href="/">Overall Activity</a></li>
				<li class="current"><a href="{{url_for('web')}}">Web browsing</a></li>
				<li><a href="{{url_for('devices')}}">Device details</a></li>
			</ul>
		
		</div>
	</div>
	
	<div id="hosts">
		<div class="row">
			<div class="large-12 columns">
				<dl class="sub-nav right" data-bind="foreach:hosts">
					<dd data-bind="click:function(){$parent.selectnewhost($data)}, css:{active:$parent.amselectedhost($data)}"><a href="#" data-bind="text:$data"></a></dd>
				</dl>
			</div>
		</div>
	</div> <!-- end of hosts -->
	
	<div id="overall">
		<div class="row">
			
			<div class="large-2 columns">
				
			</div>
			
			<div class="large-10 columns">
				<div id="zoom"></div>
			</div>
		</div>
		<div class="row">
			<div class="large-2 columns">
				
			</div>
			<div class="large-10 columns">
				<div id="context"></div>
			</div>
		</div>
	</div>
	
	<div id="web">
		<div class="row">
			<div class="large-2 columns">
				
			</div>
			<div class="large-10 columns">
				<!--<div data-bind="if:showkey()" class="small-4 columns key">
					<div id="zoomkey"></div>
				</div>-->
				<!--<div data-bind="attr:{class:squidclass}">-->
					<div id="squidgraph" class="render"></div><!-- data-bind="style:squidgraphstyle"></div>-->
				<!--</div>-->
			</div>
			
		</div>
	</div><!-- end of web -->
	
	
	<div id="tags">
		<div class="row" data-bind="visible:shouldshowtags()"> <!-- tag creator -->
			<div class="small-12 columns">
				<!--<hr>
				<h3>Tags <small> annotate your browsing </small></h3>-->
				<div class="small-7 columns">
					<select multiple style="height:150px;" data-bind="options:urlsfortagging, optionsText: rendertagselectionitem, selectedOptions:chosenurlstotag"></select>
				</div>
				<div class="small-5 columns">
					<div class="row">
						<div class="small-8 columns">
							<select data-bind="options:tags, value:chosentag"></select>
						</div>
						<div class="small-4 columns">
							<a href="#" data-bind="click:function(){tagurls()}" class="button tiny">TAG!</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="small-6 columns">
							 <input type="text" data-bind="value: newtag" placeholder="new tag" />
						</div>
						<div class="small-6 columns">
							<a href="#" data-bind="click:function(){addtag()}" class="button tiny">ADD TAG</a>
						</div>
					</div>
				</div>							
			</div>
		</div>
		<div class="row" data-bind="visible:showtag">
			<hr>
			<div class="large-10 columns">
				<h3 data-bind="text: 'domains for ' + tagtoview()"></h3>
				<table>
					<thead>
						<tr>
							<th>domain</th>
							<th></th>
						</tr>
					</thead>

					<tbody data-bind="foreach:domainsfortag">
						<tr>
							<td data-bind="text:$data"></td>
							<td> <a href="#" data-bind="click:function(){removetag($data)}">remove</a></td>
						</tr>
					</tbody>
				</table>
			</div>	
			<div class="large-2 columns">
				<a href="#" data-bind="click:function(){showtag(false)}"class="button tiny radius success">hide</a>
			</div>
		</div>	<!-- end of tag creator -->	
		
		<div class="row"><!-- tag graph -->
			<!--<hr>
			<h3>Tagged activity <small> updated as you tag your urls </small></h3>-->
			<div class="large-2 columns key">
				<div data-bind="foreach:reversedtags">
					<p data-bind="style:{height:$parent.tagheight()}"><a href="#", data-bind="text:$data, click:function(){$parent.getdomainsfortag($data)}"></a></p>
				</div>
			</div>
			<div class="large-10 columns">
				<div class="aligner">
					<div id="activitygraph" class="activityrender"></div>
				</div>
			</div>		
		</div>	<!-- end of tag graph -->
	</div> <!-- end of tags -->
</div>	<!-- end of viz -->

<script data-main="{{url_for('static', filename='js/modules.js')}}" src="{{url_for('static', filename='js/require/require.js')}}"></script>
{% endblock %}