{% extends "layout.html" %}
{% block body %}
<!--header and nav -->
<style>
.area{
	clip-path: url(#clip);
}
</style>
<div id="visualisation">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills">
				<li><a href="/">Overall Activity</a></li>
				<li class="active"><a href="{{url_for('web')}}">Web browsing</a></li>
				<li><a href="{{url_for('devices')}}">Device details</a></li>
			</ul>
		
		</div>
	</div>
	
	<div id="hosts">
		<div class="row">
			<div class="col-md-12">
			<!--	<dl class="sub-nav right" data-bind="foreach:hosts">
					<dd data-bind="click:function(){$parent.selectnewhost($data)}, css:{active:$parent.amselectedhost($data)}"><a href="#" data-bind="text:$data"></a></dd>
				</dl>-->
			</div>
		</div>
	</div> <!-- end of hosts -->
	
	<div id="overall">
		<div class="row">
			<div class="col-md-12">
				<div class="title"><strong>overall</strong> activity</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="context"></div>
			</div>
		</div>
		<div class="row">		
			<div class="col-md-12">
				<!--<div id="zoomcontainer" style="background:#666666; padding: 10px;">-->
				
				<div id="zoom"></div>
				<!--</div>-->
			</div>
		</div>
		<div class="row">		
			<div class="col-md-12">
				<div id="activitykey" style="background:#3b3b3b; padding: 10px; width:100%; height: 80px;">
					
				</div>
			</div>
		</div>
	</div>
	
	<div id="web">
		<div class="row">
			<div class="col-md-12">
				<div class="title"><strong>tag</strong> activity</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12">
				<!--<div data-bind="if:showkey()" class="col-md-4 key">
					<div id="zoomkey"></div>
				</div>-->
				<!--<div data-bind="attr:{class:squidclass}">-->
				<div style="padding:30px">
					<div id="squidgraph" class="render"></div><!-- data-bind="style:squidgraphstyle"></div>-->
				</div>
				<!--</div>-->
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="controlbar"></div>
			</div>
		</div>
	</div><!-- end of web -->
	
	
	<div id="tags">
		<div class="row">
			<div class="col-md-12">
				<div class="title"><strong>tagged</strong> activity</div>
			</div>
		</div>
		<div class="row" data-bind="visible:shouldshowtags()"> <!-- tag creator -->
			<div class="col-md-12">
				<!--<hr>
				<h3>Tags <small> annotate your browsing </small></h3>-->
				<div class="col-md-7">
					<select multiple style="height:150px;" data-bind="options:urlsfortagging, optionsText: rendertagselectionitem, selectedOptions:chosenurlstotag"></select>
				</div>
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-8">
							<select data-bind="options:tags, value:chosentag"></select>
						</div>
						<div class="col-md-4">
							<a href="#" data-bind="click:function(){tagurls()}" class="button tiny">TAG!</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6">
							 <input type="text" data-bind="value: newtag" placeholder="new tag" />
						</div>
						<div class="col-md-6">
							<a href="#" data-bind="click:function(){addtag()}" class="button tiny">ADD TAG</a>
						</div>
					</div>
				</div>							
			</div>
		</div>
		<div class="row" data-bind="visible:showtag">
			<hr>
			<div class="col-md-10">
				<h3 data-bind="text: 'domains for ' + tagtoview()"></h3>
				<table>
					<thead>
						<tr>
							<th>domain</th>
							<th></th>
						</tr>
					</thead>

					<tbody data-bind="foreach:domainsfortag">
						<tr>
							<td data-bind="text:$data"></td>
							<td> <a href="#" data-bind="click:function(){removetag($data)}">remove</a></td>
						</tr>
					</tbody>
				</table>
			</div>	
			<div class="col-md-2">
				<a href="#" data-bind="click:function(){showtag(false)}"class="button tiny radius success">hide</a>
			</div>
		</div>	<!-- end of tag creator -->	
		
		<div class="row"><!-- tag graph -->
			<!--<hr>
			<h3>Tagged activity <small> updated as you tag your urls </small></h3>-->
			<div style="padding:30px">
				<div class="col-md-2 key">
					<div data-bind="foreach:reversedtags">
						<p data-bind="style:{height:$parent.tagheight()}"><a href="#", data-bind="text:$data, click:function(){$parent.getdomainsfortag($data)}"></a></p>
					</div>
				</div>
				<div class="col-md-10">
					<div class="aligner">
						<div id="activitygraph" class="activityrender"></div>
					</div>
				</div>	
			</div>	
		</div>	<!-- end of tag graph -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="controlbar"></div>
			</div>
		</div>
		
	</div> <!-- end of tags -->
</div>	<!-- end of viz -->

<script data-main="{{url_for('static', filename='js/modules.js')}}" src="{{url_for('static', filename='js/require/require.js')}}"></script>
{% endblock %}