{% extends "layout.html" %}
{% block body %}
<!--header and nav -->
<style>
.area{
	clip-path: url(#clip);
}
</style>



<div id="visualisation">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills">
				<li><a href="/">Overall Activity</a></li>
				<li class="active"><a href="{{url_for('web')}}">Web browsing</a></li>
				<li><a href="{{url_for('devices')}}">Device details</a></li>
			</ul>
		
		</div>
	</div>
	
	<div id="hosts">
		<div class="row">
			<div class="col-md-12">
			<!--	<dl class="sub-nav right" data-bind="foreach:hosts">
					<dd data-bind="click:function(){$parent.selectnewhost($data)}, css:{active:$parent.amselectedhost($data)}"><a href="#" data-bind="text:$data"></a></dd>
				</dl>-->
			</div>
		</div>
	</div> <!-- end of hosts -->
	
	<div id="overall">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
					<div class="row">
						<div class="col-md-4">
							<strong>overall</strong> activity
						</div>
						<div class="col-md-8">
							<div data-bind="text:subtitle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="context"></div>
			</div>
		</div>
		<div class="row">		
			<div class="col-md-12">
				<!--<div id="zoomcontainer" style="background:#666666; padding: 10px;">-->
				
				<div id="zoom"></div>
				<!--</div>-->
			</div>
		</div>
		<div class="row">		
			<div class="col-md-12">
				<div id="activitykey" style="background:#3b3b3b; padding: 10px; width:100%; height: 80px;">
					
				</div>
			</div>
		</div>
	</div>
	
	<div id="web">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
					<div class="row">
						<div class="col-md-4">
							<strong>tag</strong> activity
						</div>
						<div class="col-md-8">
							<div data-bind="text:subtitle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12">
				<!--<div data-bind="if:showkey()" class="col-md-4 key">
					<div id="zoomkey"></div>
				</div>-->
				<!--<div data-bind="attr:{class:squidclass}">-->
				<div style="padding:30px">
					<div id="squidgraph" class="render"></div><!-- data-bind="style:squidgraphstyle"></div>-->
				</div>
				<!--</div>-->
			</div>
			
		</div>
	</div>
	
	<div id="tagger">
		
	
		<div  data-bind="bootstrapModal:showtagger" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">tag activity</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6">
								<select multiple class="form-control" style="height:150px;" data-bind="options:urlsfortagging, optionsText: rendertagselectionitem, selectedOptions:chosenurlstotag"></select>
							</div>
							<div class="col-md-4">
								<div class="row">
									<div class="col-md-9">
										<select class="form-control" data-bind="options:tags, value:chosentag"></select>
									</div>
									<div class="col-md-3">
										<a href="#" data-bind="click:function(){tagurls()}" class="btn btn-sm btn-primary">TAG!</a>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-9">
										 <input type="text" class="form-control" data-bind="value: newtag" placeholder="new tag" />
									</div>
									<div class="col-md-3">
										<a href="#" data-bind="click:function(){addtag()}" class="btn btn-sm btn-primary">ADD TAG</a>
									</div>
								</div>
							</div>			
						</div>
						
						
					</div> <!-- end of modal body! -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
					
		<div class="row">
			<div class="col-md-12">
				<div class="controlbar">	
					<div class="row">
						<div class="col-md-8">
						</div>
						
						<div class="col-md-4">
							<button class="pull-right btn btn-primary" data-bind="click:function(){toggleoverlay();}">location</button>
							<button class="pull-right btn btn-primary" data-bind="click:function(){toggletagger();}">tag!</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end of tagger! -->
	
	
	<div id="tags">
		
		<div class="row">
			<div class="col-md-12">
				<div class="title"><strong>tagged</strong> activity</div>
			</div>
		</div>
		
		<div class="row" style="padding: 10px 10px 20px 10px;"><!-- tag graph -->
			
			<div class="col-md-2 key">
				
				<div data-bind="foreach:reversedtags">
					<p data-bind="style:{height:$parent.tagheight()}"><a href="#tags", data-bind="text:$data, click:function(){$parent.getdomainsfortag($data)}, popover: {template: 'popoverBindingTemplate', title: $data}"></a></p>
				</div>
			</div>
			<div class="col-md-10">
				<div id="activitygraph" class="activityrender"></div>
			</div>	
				
		</div>	<!-- end of tag graph -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="controlbar">
					<div class="row">
						<div class="col-md-3 col-md-offset-9">
							<div class="row">
					 			<div class="col-md-8">
					 				<input type="text" class="pull-right form-control" data-bind="value: newtag" placeholder="create new tag" />
								</div>
								<div class="col-md-4">
									<a href="#" data-bind="click:function(){addtag()}" class="pull-right btn btn-sm btn-primary">ADD TAG</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div> <!-- end of tags -->
</div>	<!-- end of viz -->

<script type="text/html" id="popoverBindingTemplate">
	<button class="close pull-right" type="button" data-dismiss="popover">x</button>
	<div class="row">
	
		<div class="col-md-12">
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>domain</th>
						<th></th>
					</tr>
				</thead>
				<tbody data-bind="foreach:$root.domainsfortag">
					<tr>
						<td data-bind="text:$data"></td>
						<td> <a href="#" data-bind="click:function(){$root.removetag($parent,$data)}">remove</a> </td>
					</tr>
				</tbody>
			</table>
			<!-- MUST ADD OPTION TO DELETE ENTIRE TAG -->
			<!--<a href="#" data-bind="click:function(){$root.removetag($parent)}">delete this tag!</a>-->
		</div>
	
	</div>	
</script>
				
<script data-main="{{url_for('static', filename='js/modules.js')}}" src="{{url_for('static', filename='js/require/require.js')}}"></script>
{% endblock %}