{% extends "layout.html" %}
{% block body %}
<!--header and nav -->
<style>

path {
    stroke: none;
    opacity: 0.8;
}

.area{
	clip-path: url(#clip);
}

</style>
<div id="overview">
	<div class="row">
		<div class="large-12 columns">
			<ul class="pagination right">		
				<li class="current"><a href="#">Overall Activity</a></li>
				<li><a href="{{url_for('web')}}">Web browsing</a></li>
				<li><a href="{{url_for('devices')}}">Device details</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div id="context"></div>
			<div id="zoom"><div>
		</div>
	</div>
</div>
<script data-main="{{url_for('static', filename='js/activity.js')}}" src="{{url_for('static', filename='js/require/require.js')}}"></script>
{% endblock %}