{% extends "layout.html" %}
{% block body %}	
	<div class="container">
		<div class="jumbotron">
			<h1> admin <small>interface</small></h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:150px"> family name </th>
						<th> members </th>
						<th> devices </th>
						<th> diary </th>
					</tr>
				</thead>
				{% for family in families %}
				<tr>
					<td><a href="admin/web?family={{family.name}}">{{family.name}}</a></td>
					<td> 	
						{% for user in family.users %}
							{{user}}
						{% endfor %}
					</td>
					<td> 	
						{% for device in family.devices %}
							{{device}}
						{% endfor %}
					</td>
					<td>
						{% for user in family.users %}
							<a href="admin/calendarentries?username={{user}}">{{user}} diary </a>
						{% endfor %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}