{% extends "layout.html" %}
{% block body %}
<!--header and nav -->
<style>
.area{
	clip-path: url(#clip);
}
.locations{
	clip-path: url(#clip);
}
.apps{
	clip-path: url(#clip);
}
</style>

<div id="patterns" style="height:0;">
	<svg height="8" width="8" xmlns="http://www.w3.org/2000/svg" version="1.1">
	  <defs>
		<pattern id="crosshatch" patternUnits="userSpaceOnUse" width="8" height="8">
		  <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg==" x="0" y="0" width="8" height="8">
		  </image>
		</pattern>
	  </defs>
	</svg>
	<svg height="5" width="5" xmlns="http://www.w3.org/2000/svg" version="1.1">
	  <defs>
		<pattern id="lightstripe" patternUnits="userSpaceOnUse" width="5" height="5">
		  <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==" x="0" y="0" width="5" height="5">
		  </image>
		</pattern>
	  </defs>
	</svg>
	<svg height="5" width="5" xmlns="http://www.w3.org/2000/svg" version="1.1">
	  <defs>
		<pattern id="smalldot" patternUnits="userSpaceOnUse" width="5" height="5">
		  <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+" x="0" y="0" width="5" height="5">
		  </image>
		</pattern>
	  </defs>
	</svg>
	<svg height="49" width="6" xmlns="http://www.w3.org/2000/svg" version="1.1">
	  <defs>
		<pattern id="verticalstripe" patternUnits="userSpaceOnUse" width="6" height="49">
		  <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc2JyBoZWlnaHQ9JzQ5Jz4KICA8cmVjdCB3aWR0aD0nMycgaGVpZ2h0PSc1MCcgZmlsbD0nI2ZmZicvPgogIDxyZWN0IHg9JzMnIHdpZHRoPScxJyBoZWlnaHQ9JzUwJyBmaWxsPScjY2NjJy8+Cjwvc3ZnPgo=" x="0" y="0" width="6" height="49">
		  </image>
		</pattern>
	  </defs>
	</svg>
	<svg height="6" width="6" xmlns="http://www.w3.org/2000/svg" version="1.1">
	  <defs>
		<pattern id="whitecarbon" patternUnits="userSpaceOnUse" width="6" height="6">
		  <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg==" x="0" y="0" width="6" height="6">
		  </image>
		</pattern>
	  </defs>
	</svg>
</div>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
 	<div class="row">
		<div class="col-md-10">
			<div id="activitykey" style="padding: 5px; width:100%; height: 50px;"></div>
		</div>
		<div class="col-md-2 pull-right" style="padding-top:15px">
			<a href="/ucn/auth/logout">logout</a>
		</div>
 	</div>
</nav>

<div id="tagger" class="hideonload">
	<div data-bind="bootstrapModal:showtagger" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel" data-bind="html:taggerlabel"></h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-8">
							
							<div class="row">
								<div class="col-md-12">
									<select multiple class="form-control" style="height:150px;" data-bind="options:urlsfortagging, optionsText: rendertagselectionitem, selectedOptions:chosenurlstotag"></select>
								</div>
							</div>
							<div class="row">
								<div style="padding-top: 10px;" class="col-md-12">
									<a href="#" data-bind="click:function(){selectall()}">SELECT ALL</a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-12">
									<select class="form-control" data-bind="options:tags, value:chosentag"></select>
								</div>
								
							</div>
							<hr>
							<div class="row">
								<div class="col-md-12">
									 <input type="text" class="form-control" data-bind="value: newtag" placeholder="new tag" />
								</div>
							</div>
						</div>			
					</div>
				</div> <!-- end of modal body! -->
				<div class="modal-footer">
					<a href="#" data-bind="click:function(){tagurls(true)}" class="btn btn-sm btn-primary">TAG just for this time range </a>
					<a href="#" data-bind="click:function(){tagurls(false)}" class="btn btn-sm btn-primary">TAG!</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
  		<div class="row">
			<div class="col-md-5">
  				<div class="timerange" data-bind="text:timetext"></div>
  			</div>
			<div class="col-md-2 col-md-offset-5">
				<div class="tagactivitycontainer">
					<button class="btn btn-danger pull-right" data-bind="click:function(){toggletagger();}">tag activity</button>
				</div>
			</div>
  		</div>
	</nav>
</div>

<div id="visualisation">
	<div class="row" style="border-bottom: 1px solid #30363c">
		<div class="col-md-3 leftchart" style="height:530px; background:#30363c">
			<div class="row" style="background:#3b5998;">
				<div class="col-md-12">
					<div class="title">
						<strong>overall</strong> activity
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="padding:0px">
					<div class="helptext">
						Use the smaller chart at the top to zoom in on a particular range.  This will change the time range for all charts on the page.  Click on one or more hosts in the toolbar above to show aggregate activity.
					</div>
					<div id="calendar" style="text-align:center; padding: 10px;">
						<div data-bind="kendoCalendar: calendardate"></div>
					</div>
				</div>
				<hr>
			</div>
		</div>
		<div class="col-md-9">
			<div id="overall"> 
			
				<div class="hideonload">
					<div data-bind="bootstrapModal:shownote" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<strong class="modal-title" id="myModalLabel"> add a note </strong>
								</div>
								<div class="modal-body">
									<!--ko if: !(note().source) ||note().source=="viz"-->
										<textarea class="form-control" rows="3" data-bind="value:note().note"></textarea>
									<!--/ko-->
									<!--ko ifnot: note().source=="viz" -->
										<span data-bind="text:note().note"> </span>
									<!--/ko-->
								</div> <!-- end of modal body! -->
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click:function(){recordnote()}">Add</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click:function(){deletenote()}">Delete</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click:function(){closenote()}">Close</button>
								</div>
							</div> <!-- end of modal content -->
						</div> <!-- end of modal dialog -->
					</div> <!-- end of databind -->
				</div> <!-- end of hideonload -->
				
				
				<div class="row">		
					<div class="col-md-12" style="height:140px">
						<div id="zoom"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 chartcontainer">
						<div id="context"></div>
					</div>
				</div>
			</div>
			<div id="overlays">
				<div class="row">
					<div class="col-md-12" style="padding-left:0px">
						<div class="controlbar">
							<div class="row">
								<div class="col-md-6">
									<div class="querytext" data-bind="text:selectedquery"></div>
								</div>
								<div class="col-md-6">
									<form class="form-inline" role="form">
										
										<!--<div class="checkbox">
											<label>
											<input type="checkbox" data-bind="checked: showqueries">overlay searches
											</label>
										</div>-->
										<div class="checkbox">
											<label>
											<input type="checkbox" data-bind="checked: showlocations">overlay locations
											</label>
										</div>
										<div class="checkbox">
											<label>
											<input type="checkbox" data-bind="checked: showapps">overlay apps
											</label>
										</div>
										<div class="checkbox">
											<label>
											<input type="checkbox" data-bind="checked: shownotes">overlay notes
											</label>
										</div>
									</form>
								</div>	
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	<div id="tags">
		
		<div class="hideonload">
			<div data-bind="bootstrapModal:showtagdetails" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<strong class="modal-title" id="myModalLabel" data-bind="text: 'tag: ' + selectedtag()"></strong>
						</div>
						<div class="modal-body">
							<strong data-bind="text:selecteddomain"></strong>
							<a href="#" data-bind="click:function(){$root.removeassociation(selectedtag,selecteddomain)}">remove</a>
						</div> <!-- end of modal body! -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row hideonload">
			<div class="col-md-3 tagchartbar" style="background:#30363c;">
				<div class="row" style="background:#3b5998;">
					<div class="col-md-12">
						<div class="title"><strong>tagged</strong> activity</div>
					</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="padding:0px">
							<div class="helptext">
					 			This chart shows the activity tagged so far.  Click on each of the labels on the left hand side of the chart to view (and delete) urls associated to tags.
							</div>
						</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row" style="padding: 10px 10px 20px 10px;"><!-- tag graph -->			
					<div class="col-md-2 key">
				
						<div data-bind="foreach:reversedtags">
							<p  class="keyline" data-bind="style:{height:$parent.tagheight()}"><a href="#tags", data-bind="text:$data, click:function(){$parent.getdomainsfortag($data)}, popover: {template: 'popoverBindingTemplate', title: $data}"></a></p>
						</div>
					</div>
					<div class="col-md-10">
						<div id="activitygraph" class="activityrender"></div>
					</div>	
				</div>	<!-- end of tag graph -->
				<div class="row">
					<div class="col-md-12" style="padding-left:0px">
						<div class="controlbar">
							<div class="row">
								<div class="col-md-3 col-md-offset-9">
									<div class="row">
										<div class="col-md-8">
											<input type="text" class="pull-right form-control" data-bind="value: newtag" placeholder="create new tag" />
										</div>
										<div class="col-md-4">
											<a href="#" data-bind="click:function(){addtag()}" class="pull-right btn btn-sm btn-primary">ADD TAG</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- end of 10 cols -->
		</div> <!-- end of row -->
	</div> <!-- end of tags -->
</div>	<!-- end of viz -->

<script type="text/html" id="popoverBindingTemplate">
	<button class="close pull-right" type="button" data-dismiss="popover">x</button>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>domain</th>
						<th></th>
					</tr>
				</thead>
				<tbody data-bind="foreach:$root.domainsfortag">
					<tr>
						<td data-bind="text:$data"></td>
						<td> <a href="#" data-bind="click:function(){$root.removeassociation($parent,$data)}">remove</a> </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-danger btn-sm pull-right" data-bind="click:function(){$root.removetag($data);}">delete entire tag</button>
		</div>
	</div>
</script>
				
<script>
var require = {
    config: {
        'modules/bootstrap': {family:'{{family}}'}
    }
};
</script>
<script data-main="{{url_for('static', filename='js/modules.js')}}" src="{{url_for('static', filename='js/require/require.js')}}"></script>
{% endblock %}