{% extends "layout.html" %}
{% block body %}	
	<div class="container">
		<div class="jumbotron">
			<h1> UCN <small> using google calendar </small></h1>
			<p> We'd like to gain access to your google calendar as part of the ucn study, so that you can document your browsing habits</p>
			<p> Please note that it is essential <strong> that you 'get started' when you are connected to the VPN</strong>
			<p>
				<a class="btn btn-primary btn-lg" role="button" href="{{url}}">get started</a>
			</p>
		</div>
	</div>
{% endblock %}
