{% extends "layout.html" %}
{% block body %}

<style>
body{
  margin-top: 0px;
  padding-top: 0px;
}
.chart {
  display: block;
  margin: auto;
  margin-top: 0px;
  font-size: 11px;
}

rect {
  stroke: #eee;
  fill: #aaa;
  fill-opacity: .8;
}

rect.parent {
  cursor: pointer;
  fill: steelblue;
}

text {
  pointer-events: none;
}

a{
  text-decoration: underline;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#title{
  text-align: center;
}

.active{
  font-weight: bold;
  font-size: 130%;
}

</style>

<div id="classification">

   <div class="row">
    <div class="col-md-12">
        <div id="title">
          <h4 data-bind="text:title"></h4><small><span data-bind="text:percentage"></span></h4>
        </div>
        <hr>
      </div>
   </div>

    <div class="row">
      <div class="col-md-12">
          <div id="timeline"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div id="tree"></div>
      </div>
      <div class="col-md-3">
        <div id="summary">
          <ul class="list-unstyled">
          <!--ko foreach: urls-->
            <li data-bind="text:$data, css:{active: $parent.selected.indexOf($data) != -1}, click:function(){$parent.selecturl($data)}, style:{color:$parent.colorfor($data)}" ></li>
          <!-- /ko -->
          <li>
        </div>
      </div>
    </div>

</div>
<script>
var require = {
    config: {
        'modules/classify': {host:'{{host}}'}
    }
};
</script>

<script data-main="{{url_for('static', filename='js/classifyapp.js')}}" src="{{url_for('static', filename='js/require/require.js')}}"></script>

{% endblock %}
