{% extends "layout.html" %}
{% block body %}	
	<div class="container">
		<div class="jumbotron">
			<h1> UCN <small> using the moves app </small></h1>
			<p> The moves app is an Android and iPhone app that monitors and collects your location data.  If you are happy to share this data with us, please install the <a href="#"> android </a> or <a href="#"> iphone </a> app on your phone.  Once you have done so, come back here and click on get started</p>
			<p> Please note that it is essential <strong> that you 'get started' on the phone that is running your moves app </strong>
			<p>
				<a class="btn btn-primary btn-lg" role="button" href="{{url}}">get started</a>
			</p>
		</div>
	</div>
{% endblock %}